*{
    margin-top: 0;
}

/* Styles specific to Chrome extension */
.jokify-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f4040;
    box-sizing: border-box;
}

.jokify-card {
    max-width: 100%;
}

.jokify-btn {
    width: 100%;
}
  
  .jokify-btn:hover,
  .jokify-btn:focus {
    background-color: #0062cc;
    border-color: #005cbf;
    box-shadow: none;
  }
  
  .joke-text {
    font-size: 1rem;                   /* Increase the font size to make it more readable */
    font-family: 'Ysabeau', sans-serif;
  }
  
  .form-text {
    font-size: 0.9rem;
  }
  
  .card-title{
    font-size: 3rem;
    white-space: nowrap;
  }